@import './hljs';

html {
  font-size: 36px;
}

body {
  background-color: #eee;
  color: #444;
  font-family: 'GT Sectra Trial';
  width: 100%;
  height: 100%;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'GT Sectra Display Trial';
}

.slide {
  display: none;
  width: auto;
  height: 80vh;
  margin: 0 auto;
  padding: 0 10%;
  box-sizing: border-box;
  background-size: scale;
}

.slide:target {
  display: table;
}

.slide-content {
  display: table-cell;
  vertical-align: middle;
  max-width: 42rem;
  margin: 0 auto;
}

.slide-title:target {
  width: 100vw;
  background: url('title.png') center center no-repeat transparent;
  background-size: cover;
}


.where-bmo-at {
  text-align: center;
  cursor: url(bmo.gif), crosshair;
}
.bmo-is-here {
  margin: auto;
  height: 100vh;
}


code {
  line-height: 1.3;
}