@import './hljs';

html {
  font-size: 36px;
}

body {
  width: 100%;
  height: 100%;
  font-size: 24px;
  background: url('bg.png') center center no-repeat transparent;
}

.slide {
  display: none;
  width: auto;
  height: 100vh;
  margin: 0 auto;
  padding: 0 10%;
  box-sizing: border-box;
  background-size: scale;
}

.slide:target {
  display: table;
}

.slide-content {
  display: table-cell;
  vertical-align: middle;
  max-width: 42rem;
  margin: 0 auto;
}

.slide-title:target {
  width: 100vw;
  background: url('title.png') center center no-repeat transparent;
  background-size: cover;
}

code {
  line-height: 1.3;
}